{% extends "layouts/journey.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block journey_form %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">Confirm address</h1>
    <p>6 addresses found for <b>wr11nl</b> and <b>1</b>.
    <a href='{{ waypointUrl({ waypoint: casa.waypoint, skipTo: "post-code" }) }}' class="govuk-link">
      Search again
    </a>
    </p>

    <h2>{{ formData }}</h2>

    {{ govukInsetText({
      text: formData.address
    }) }}

    {{ casaGovukInput({
      classes: "hidden",
      value: formData.address,
      name: "address"
    }) }}

    <a href="/start">Go to start</a>

    {% if useDifferentAddress %}
      <a href='{{ waypointUrl({ waypoint: casa.waypoint, skipTo: "post-code-results" }) }}' class="govuk-link">
        Use a different address 
      </a>
    {% endif %}

    <a href='{{ waypointUrl({ waypoint: casa.waypoint, skipTo: "address-manual" }) }}' class="govuk-link">
      Enter the patient's address manually 
    </a>
    
  </div> 
{% endblock %}
